name: deploy QA
on: 
  push:
    branches:
      - qa

permissions:
  id-token: write
  contents: read

jobs:
    deploy:
        if: github.ref == 'refs/heads/qa'
        name: Deploy to QA
        uses: jikkosoft/jikko-multi-language-pipeline/.github/workflows/deploy-ecs.yml@v0
        with:
            environment: qa
            workdir: '.'
            dockerfile: 'Dockerfile'
            ecr_repo: 'jikko-qa-planner-pdf-service'
            ecs_cluster: 'jikko-qa-planner-ecs-cluster'
            ecs_service: 'jikko-qa-planner-pdf-service'
            task_definition: 'jikko-qa-planner-pdf-task-def'
            container_name : 'jikko-qa-planner-pdf-container'
        secrets:
            AWS_DEPLOY_ROLE_ARN: ${{ secrets.AWS_DEPLOY_ROLE_ARN }}
            AWS_DEPLOY_REGION: ${{ secrets.AWS_DEPLOY_REGION }}  
