[flake8]
exclude = .git,__pycache__,.venv,*/migrations/*,*/static/CACHE/*,docs,node_modules,venv
max-complexity = 10
max-line-length = 120
ignore = W503, E203

# Plugins

inline-quotes = double
multiline-quotes = double
docstring-quotes = double

# flake8-django
django = true

# flake8-isort
isort-config = pyproject.toml
