name: deploy QA
on: 
  push:
    branches:
      - qa

permissions:
  id-token: write
  contents: read

jobs:
    deploy:
        if: github.ref == 'refs/heads/qa'
        name: Deploy to QA
        uses: jikkosoft/jikko-multi-language-pipeline/.github/workflows/deploy.yml@v0.0.6
        with:
            environment: qa
            app_type: 'backend'
            language: 'node'
            deploy_target: 'lambda_zip'
            workdir: '.'
            lambda_function_name: 'lbda-jikko-qa-planner-pdf-function'
            lambda_zip_path: 'dist/lambda.zip'
        secrets:
            AWS_DEPLOY_ROLE_ARN: ${{ secrets.AWS_DEPLOY_ROLE_ARN }}
            AWS_DEPLOY_REGION: ${{ secrets.AWS_DEPLOY_REGION }}  
